<div class="album bg-light py-5 px-5 my-5">
  <div class="row justify-content-between">
    <%= render partial: "instructor_card", locals: { instructor: @instructor } %>
    <div class="col-md-3">
      <%= link_to "Add an Activity", new_location_activity_path, class: "btn btn-outline-dark" %>
    </div>
  </div>


  <h3>Courses</h3>
  <div class="row">
    <% @instructor.courses.each do |activity| %>

      <%= render partial: "courses/course_details_for_index", locals: { course: course } %>

    <% end %>
  </div>
</div>
