<div class="album bg-light py-5 px-5 my-5">
  <div class="row">
    <div class="col">
      <h3>Create a new course</h3>
      <%= link_to "Or add an instructor", new_instructor_path, class: "btn btn-outline-dark" %>
    </div>
  </div>

  <%= render partial: "form", locals: { course: @course} %>
</div>
